@import "https://fonts.googleapis.com/css?family=Fjalla+One|Avenir";
@import "https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap";

#toc_container {
box-shadow:5px 5px 21px -4px rgba(36,99,166,1);
padding:15px 15px 15px 25px;
display:table;
margin:auto;
margin-top:25px;
max-width:90%;
}

#toc_container p.toc_title {
font-family:'Josefin Sans',sans-serif;
text-transform:uppercase;
font-size:17px;
}

div#toc_container ul.toc_list a {
font-family:Arial,sans-serif;
font-size:16px;
text-transform:capitalize;
}

div.footer-copyright {
background:#003;
border-top:3px solid #fc3;
}

small.copyright {
color:#ddd;
}

div.fg-caption-desc {
color:#fc3;
}

li {
line-height:1.8;
}

.read-more {
text-align:center;
}

.read-more a {
font-size:14px;
color:#fff;
background-color:#0073aa;
border-color:#0073aa #006799 #006799;
box-shadow:0 1px 0 #006799;
border-radius:3px;
text-transform:capitalize;
font-family:'Avenir','Lato',Sans-serif;
padding:4px 10px;
}

.read-more {
margin-bottom:5px;
}

.product-gallery {
border-radius:8px;
border:1px solid #bed4f7;
}

.gallery-excerpt {
font-size:15px;
}

.article-2 {
box-shadow:0 3px 14px -3px #000;
text-align:center;
transition:transform .2s;
border:1px solid #e4e4e4;
border-radius:3px;
}

div.menu-menu-categorias-container {
border-bottom:3px solid #fc3;
}

.foogallery .fg-caption,.foogallery .fg-caption-desc {
background-color:rgba(0,0,45,0.85);
font-family:'Josefin Sans',Sans-serif;
font-weight:600;
font-size:13px;
text-align:center;
border-radius:2px;
padding-top:8px;
}

.foogallery .fg-caption-title {
text-align:center;
font-family:'Josefin Sans',Sans-serif;
font-size:13px;
}

.foogallery.fg-border-thin .fg-item-inner {
border-width:3px;
}

.widget h4 {
font-family:'Josefin Sans',sans-serif;
font-size:17px;
line-height:19px;
border-bottom:2px solid #fc0;
padding-bottom:3px;
}

.widget ul {
font-size:13px;
}

.widget a {
font-size:15px;
font-family:'Open Sans',sans-serif;
text-transform:capitalize;
}

.post-thumbnail-2 img {
border-radius:5px;
}

.post-title-2 h2 {
font-family:'Fjalla One',Tahoma,sans-serif;
font-size:22px;
text-transform:uppercase;
line-height:1.2;
letter-spacing:.2px;
height:50px;
margin:0;
}

.entry-content-2 {
height:70px;
font-size:14px;
line-height:18px;
font-family:'Avenir','Open Sans';
color:#3a3a3a;
}

.button-2 {
font-family:Comfortaa;
}

#primary .product-button-2 {
font-weight:500;
font-size:1.5rem;
font-family:'Open Sans',sans-serif;
line-height:1.2;
}

.post h1,.brands h1,.page h1 {
border-bottom:1px solid #fc0;
}

.single-main_product h1 {
border-bottom:0;
}

p.akismet_comment_form_privacy_notice {
font-size:12px;
}

p.akismet_comment_form_privacy_notice a {
font-size:12px;
}

h1 {
text-transform:uppercase;
text-shadow:2px 2px 2px #ddd;
letter-spacing:.8px;
font-family:'Josefin Sans';
}

.product-gallery {
border-radius:0;
border:1px solid #ccc;
box-shadow:0 0 8px #337ab791;
background:rgba(38,38,38,0.04);
}

.product-gallery .price,.product-gallery .price-old {
font-size:13px;
}

.gallery-name a {
color:#111;
text-transform:uppercase;
font-family:'Fjalla One','Lato','Arial';
font-size:1rem;
}

.product-img {
border:1px solid #337ab778;
box-shadow:0 0 10px #337ab791;
}

.product-menu img {
border:none;
}

.product-menu {
border-left:none;
}

.product-menu-features {
border-bottom:1px solid #fc3;
}

.product-menu-menu .number {
border:1px solid #fc0;
}

.product-menu-menu div button {
font-family:'Avenir',sans-serif;
font-size:18px;
}

.read-more.price span {
border-radius:3px;
background:linear-gradient(to bottom,#f7dfa5,#f0c14b) repeat scroll 0 0 rgba(0,0,0,0)!important;
border:1px solid #777!important;
color:#111;
font-size:18px;
}

h2,h3,h4 {
font-family:'Josefin Sans',sans-serif;
margin-top:30px;
}

.entry-content h4 {
font-size:21px;
}

p a {
font-size:17px;
}

li a {
font-size:17px;
}

a,p,ul,ol {
font-family:'Open Sans',sans-serif;
font-weight:300;
color:#1f1f1f;
}

.pt-cv-view .pt-cv-readmore:hover {
border:1px solid #428bca;
box-shadow:1px 1px 3px #428bca;
}

.read-more a:hover {
color:#fff;
}

.pt-cv-view .pt-cv-readmore {
border-radius:3px;
}

.pt-cv-view .pt-cv-pinmas {
border-top-left-radius:4px;
border-top-right-radius:4px;
}

.pt-cv-href-thumbnail {
border-radius:4px;
}

.pt-cv-view .pt-cv-title a {
padding-top:4px;
letter-spacing:.5px;
border-radius:2px;
}

.relpost-block-single {
margin:8px 5px 0;
}

.relpost-block-single-image {
border-radius:3px;
}

.relpost-block-single-text {
margin:6px 0 0;
text-transform:uppercase;
}

.brands-template-default .brand-info {
text-transform:uppercase;
}

.brands-template-default .brand-info a:hover {
color:#003;
border-bottom:2px solid #fc3;
}

#site-navigation li a:hover {
background:#50637b;
color:#fff;
}

a:hover {
color:#b72929;
}

#site-navigation li.current_page_item a {
background:#50637b;
color:#fff;
}

.caja-amarilla {
background-color:#fdfdee;
border:3px dashed #de9309;
border-radius:10px;
padding:18px;
-webkit-border-radius:10px;
}

.is-style-solid-color {
font-size:13px;
font-family:'Avenir',Sans-Serif;
}

.wp-block-quote.is-large p,.wp-block-quote.is-style-large p {
font-size:32px;
text-align:center;
}

#site-navigation li a {
font-size:13px;
font-family:'Josefin Sans',sans-serif;
text-transform:uppercase;
padding: 10px 13px;
}

.redondeados {
border-radius:8px;
}

.fondo-gris {
background-color:#eee;
padding:10px 0 10px 25px;
border:1px solid #ccc;
}

.lista-blanca {
color:#fff;
font-size:20px;
padding-left:50px;
}

.product-menu-menu .number {
border-radius:20px;
}

.wp-block-image figcaption {
text-align:center;
font-style:italic;
font-size:13px;
color:#505050;
line-height:1.5;
}

.brands-template-default .brand-info img {
border-radius:3px;
box-shadow:0 15px 10px -10px rgba(0,0,0,0.5),0 1px 4px rgba(0,0,0,0.3);
}

.qc-cmp2-persistent-link:hover {
color:#fc0;
}

.qc-cmp2-persistent-link {
background-color:#000035;
}

.aawp table.aawp-table a {
font-family:'Arial',sans-serif;
font-size:15px;
}

.aawp table.aawp-table td.aawp-table__td-pricing .aawp-product__price {
font-size:17px;
}

.aawp table.aawp-table td.aawp-table__td-rating {
display:none;
}

.aawp table.aawp-table th.aawp-table__th-rating {
display:none;
}

#primary .product-button-2 {
font-family:'Avenir',sans-serif;
font-weight:700;
}

.wp-block-image img {
border-radius:5px;
box-shadow:0 15px 10px -10px rgba(0,0,0,0.5),0 1px 4px rgba(0,0,0,0.3);
}

.pn-wrapper {
	background-color: #000033;
	font-size:16px;
	border: 1px solid #ffcc22;
}